body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Верхнє меню */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #202020;
  color: white;
  padding: 10px 20px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 5px;
  width: 250px;
}

.main {
  display: flex;
}

/* Бічне меню */
.sidebar {
  width: 200px;
  background-color: #f1f1f1;
  height: calc(100vh - 50px);
  padding: 15px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
  cursor: pointer;
}

.sidebar li:hover {
  font-weight: bold;
}

/* Контент */
.content {
  flex-grow: 1;
  padding: 20px;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.video {
  background-color: #ddd;
  width: calc(33% - 10px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.video img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

.video p {
  margin: 5px 0 0 0;
  font-size: 14px;
  text-align: center;
}

/* Адаптивність для мобільних */
@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }

  .videos .video {
    width: 100%;
  }

  .sidebar {
    width: 100%;
    height: auto;
  }
}
