body {
    margin: 0;
    overflow: hidden;
    background: linear-gradient(#66ccff, #003399);
    animation: sky 10s linear infinite alternate;
}

/* СЦЕНА */
.scene {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

/* ХМАРИ */
.clouds {
    position: absolute;
    width: 300%;
    height: 100%;
    background: url("https://pngimg.com/uploads/cloud/cloud_PNG16.png") repeat-x;
    background-size: 600px 300px;
    top: 50px;
    opacity: 0.7;
    animation: cloudsMove 35s linear infinite;
}

/* ЗЕМЛЯ */
.ground {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
    background: #4caf50;
    border-top: 4px solid #2e6b2e;
}

.pikachu {
    position: absolute;
    bottom: 120px;
    left: 50px;

    width: 240px;     /* ширина одного кадру */
    height: 120px;    /* висота одного кадру (360 / 3) */

    background: url("pikachu.png") no-repeat;
    background-size: 240px 360px; /* весь спрайт */

    animation: walk 0.6s steps(3) infinite,
               moveForward 7s linear infinite;
}

@keyframes walk {
    from { background-position: 0 0; }
    to   { background-position: 0 -360px; } /* 3 кадри по 120px */
}

@keyframes moveForward {
    from { transform: translateX(-250px); }
    to   { transform: translateX(1400px); }
}

@keyframes cloudsMove {
    from { transform: translateX(0); }
    to   { transform: translateX(-800px); }
}

@keyframes sky {
    0% { background: linear-gradient(#66ccff, #2266cc); }
    100% { background: linear-gradient(#1b2352, #000428); }
}
